<p>users: { ByensHus.Accounts.get_user_count() }</p>
<p>valid seesions: { ByensHus.Accounts.get_active_sessions }</p>
<p>events: { ByensHus.Events.get_event_count}</p>
<p>posts: { ByensHus.Accounts.get_post_count}</p>
